<htmllang="en" xmlns:th="http://www.thymeleaf.org"  >
<head th:replace="layouts/admin :: importLibs">
</head>
<body class="app sidebar-mini ltr transparent-mode bg-img1" data-new-gr-c-s-check-loaded="14.1071.0" data-gr-ext-installed="">
  <div class="horizontalMenucontainer">
    
    <div th:replace="layouts/admin :: switcher-wrapper"></div>
    <div th:replace="layouts/admin :: global-loader"></div>
    
    <div class="page">
        
    <script src="/ckeditor/ckeditor.js"></script>
        <div class="page-main is-expanded">
             <div th:replace="layouts/admin :: app-header"></div>
             <div th:replace="layouts/admin :: sticky"></div>
              <!--app-content open-->
              <div class="main-content app-content mt-0">

                <div class="side-app">
                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">
                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title" th:text="${formType==1?'Update':'Create'}"></h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="/admin/contacts/all">Contacts</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page" th:text="${formType==1?'Update':'Create'}"></li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->
                        <!-- ROW OPEN -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="card" style="padding-bottom: 25px;">
                                    <div class="card-header">
                                        <h3 class="card-title">Infomation</h3> </div>
                                    <div class="card-body">
                                       <form th:action="@{/admin/contacts/update?={caseNumber}(caseNumber=${contactMapper.case_number})}" th:object="${contactMapper}" method="post" enctype="multipart/form-data">
                                      
                                            <div class="form-row">
                                              <div class="col-xl-6 mb-3" style="display: none;">
                                                <input type="text" class="form-control" name="id" th:value="${oldData != null}?${oldData.id}:${contactMapper.id}" />
                                                <input type="text" class="form-control" name="case_number" th:value="${contactMapper.case_number}" />
                                                <input type="text" class="form-control" name="name" th:value="${contactMapper.name}" />
                                                <input type="text" class="form-control" name="email" th:value="${contactMapper.email}" />
                                                <input type="text" class="form-control" name="message" th:value="${contactMapper.message}" />
                                                <input type="text" class="form-control" name="status" th:value="${contactMapper.status}" />

                                              </div>
                                              <div class="col-xl-12 mb-3">
                                                <label  th:utext="'Case number: <strong>'+(${contactMapper.case_number!=null}?${contactMapper.case_number}:'')+'</strong>'"></label> <br/>
                                                <label>Sender's name: </label>
                                                <strong  th:text="${contactMapper.name}"> </strong><br/>
                                                <label >Sender's email: </label>
                                                <strong  th:text="${contactMapper.email}">Sender's email</strong>
                                                <div class="col-xl-3 mb-3 p-0">
                                                    Status:
                                                        <span class="badge bg-success-transparent rounded-pill p-2 px-3" style="font-size:14px ;" th:classappend="${contactMapper.status==1?'text-success':''}" th:text="${contactMapper.status==1?'Read':(contactMapper.status==2?'Replied':'Pending')}">
                                                        </span> 
                                                    
                                                </div>
                                              </div>
                                                <div class="col-xl-12 mb-3">
                                                    <label for="message" >Message</label>
                                                    <div style="height: auto;" type="text" class="form-control" name="message" th:text="${contactMapper.message}" ></div>
                                                </div>
                                                <div class="col-xl-12 mb-3">
                                                    <label for="reply">Reply</label>
                                                    <textarea id="reply" rows="10" cols="90" th:disabled="${contactMapper.status==2}" class="form-control error_input"  name="reply"  placeholder="reply"
                                                    th:data-id="${contactMapper.id}?:''" th:text="${contactMapper != null}?${contactMapper.reply}:''">
                                                    </textarea>
                                                    <small th:class="text-danger" th:if="${#fields.hasErrors('reply')}" th:errors="*{reply}" style="font-size:14px;padding:0 5px;border-radius: 5px;"></small>

                                                    <script>
                                                        // Replace the <textarea id="editor1"> with a CKEditor 4
                                                        // instance, using default configuration.
                                                        CKEDITOR.replace( 'reply' );
                                                    </script>

                                                </div>
                                            </div>
                                               
                                               
                                               
                                            <button class="btn btn-primary" style="margin:4vh 0 auto 0;"th:if="${contactMapper.status!=2}" type="submit">Save</button>
                                            
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                        <!-- ROW CLOSED -->
                    </div>
        
                 <!-- CONTAINER END -->
                 </div>
              </div>
            <!--app-content close-->
            
        </div>
            <div th:replace="layouts/admin :: sidebar-right"></div>
            <div th:replace="layouts/admin :: country-selector"></div>
            <footer th:replace="layouts/admin :: footer" ></footer>
    </div>
    

    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
    <svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;">
      <defs id="SvgjsDefs1002"></defs>
      <polyline id="SvgjsPolyline1003" points="0,0"></polyline>
      <path id="SvgjsPath1004" d="M0 0 "></path>
    </svg>
    

 <!-- JQUERY JS -->
  
  <noscript>
  
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  
  </noscript>
  
  <script src="/assets/js/jquery.min.js">
  </script>
  <script type="text/javascript">
  </script>
  
  <!-- BOOTSTRAP JS -->
  
  <noscript>
  
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  
  </noscript>
  <script src="/assets/plugins/bootstrap/js/popper.min.js">
  </script>
  
  <script type="text/javascript">
  
  
  </script>
  
  <noscript>
  
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  
  </noscript>
  
  <script src="/assets/plugins/bootstrap/js/bootstrap.min.js">
  </script>
  
  <script type="text/javascript">
  
  </script>
  
  <!-- SPARKLINE JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/js/jquery.sparkline.min.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- Sticky js -->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/js/sticky.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- CHART-CIRCLE JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script type="text/javascript">
  
  </script>
  <!-- PIETY CHART JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/peitychart/jquery.peity.min.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/peitychart/peitychart.init.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- SIDEBAR JS -->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/sidebar/sidebar.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- Perfect SCROLLBAR JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/p-scroll/perfect-scrollbar.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/p-scroll/pscroll.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/p-scroll/pscroll-1.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- INTERNAL CHARTJS CHART JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script type="text/javascript">
  
  </script>
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/chart/utils.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL SELECT2 JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/select2/select2.full.min.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL Data tables js-->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/datatable/js/jquery.dataTables.min.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/datatable/js/dataTables.bootstrap5.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/datatable/dataTables.responsive.min.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL APEXCHART JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/js/apexcharts.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/apexchart/irregular-data-series.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL Flot JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>

  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/flot/dashboard.sampledata.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL Vector js -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js">
    </script>
  <script type="text/javascript">
   
  </script>
   <!-- SIDE-MENU JS-->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/sidemenu/sidemenu.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- TypeHead js -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/bootstrap5-typehead/autocomplete.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/js/typehead.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL INDEX JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
 
  <script type="text/javascript">
  
  </script>
   <!-- Color Theme js -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/js/themeColors.js">
    </script>
  <script type="text/javascript">
    
  </script>
   <!-- CUSTOM JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/js/custom.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- Switcher js -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/switcher/js/switcher.js">
    </script>
    <svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;">
      <defs id="SvgjsDefs1002">
      </defs>
      <polyline id="SvgjsPolyline1003" points="0,0">
      </polyline>
      <path id="SvgjsPath1004" d="M0 0 ">
      </path>
      </svg>
   
  </div>
          <div class="jvectormap-tip">
            </div>
    
        </body>
        <grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
</body>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> -->

<script>
    
   
   
</script>