<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="contact_section" th:fragment="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img th:src="@{/images/defaults/cs-image.png}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-heading content-left">
                        <h2 class="title ">
                            If you have any questions
                        </h2>
                        <h6 class="text">
                            Our top priorities are to protect your privacy, provide secure transactions, and safeguard your data. When you're ready to play, registering an account is required so we know you're of legal age and so no one else can use your account.We answer the most commonly asked lotto questions..
                        </h6>
                        <a th:href="@{/contact-us}" class="mybtn1">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>