<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="subscribe-area subscribe-area2" th:fragment="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="subscribe-box">
                        <img class="left" th:src="@{/images/defaults/vr.png}" alt="">
                        <img class="right" th:src="@{/images/defaults/game-controller.png}" alt="">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="heading-area">
                                        <h5 class="sub-title">
                                            Subscribe to Jugaro
                                        </h5>
                                        <h4 class="title">
                                            To Get Exclusive Benefits
                                        </h4>
                                </div>
                            </div>
                        
                            <div class="col-lg-6 col-12">
                                
                                <form action="#" class="form-area">
                                        <input type="text" placeholder="Your Email Address">
                                        <button class="mybtn1" type="submit">Subscribe
                                        </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>