<htmllang="en" xmlns:th="http://www.thymeleaf.org"  >
<head th:replace="layouts/admin :: importLibs">
</head>
<body class="app sidebar-mini ltr transparent-mode bg-img1" data-new-gr-c-s-check-loaded="14.1071.0" data-gr-ext-installed="">
  <div class="horizontalMenucontainer">
    
    <div th:replace="layouts/admin :: switcher-wrapper"></div>
    <div th:replace="layouts/admin :: global-loader"></div>
    
    <div class="page">
        
    <script src="/ckeditor/ckeditor.js"></script>
        <div class="page-main is-expanded">
             <div th:replace="layouts/admin :: app-header"></div>
             <div th:replace="layouts/admin :: sticky"></div>
              <!--app-content open-->
              <div class="main-content app-content mt-0">

                <div class="side-app">
                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">
                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title"> Transactions</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="/admin/transactions/all">Transations</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->
                        <!-- ROW OPEN -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="card" style="padding-bottom: 25px;">
                                    <div class="card-header">
                                        <h3 class="card-title"><a href="/admin/transactions/all"><i class="fa fa-angle-left" style="pointer-events: none; margin-right: 1vw;"></i></a>Infomation</h3> </div>
                                        <style>
                                            .form-row label{
                                                color:rgba(251, 251, 251, 0.726);
                                            }
                                            .form-row span{
                                                color:rgba(251, 251, 251, 0.979);
                                            }
                                        </style>
                                    <div class="card-body">    
                                        <div class="form-row">
                                            <div class="col-xl-5 mb-3" style="display: table-row;border-right: 1.5px solid rgba(251, 251, 251, 0.1);">
                                                <label>No:</label>      <span th:text="${transaction.code}"></span><br/>
                                                <label>Type:</label>    <span th:text="${type}"></span><br/>
                                                <label>Method:</label>  <span th:text="${method}"></span> <br/>
                                                <label th:text="${(transaction.type==0||transation.type==1) ? 'User :' : 'Sender :'}"></label>  <a style="text-decoration: underline;" th:href="@{/admin/users/update?id={id}(id=${transaction.sender},type=${sender.is_admin?1:0})}" th:text="${sender != null ? (sender.first_name+' '+sender.last_name) : ''}"></a><br/>
                                                <label th:text="${(transaction.type==2) ? 'Receiver :' : 'Error :'}" th:if="${receiver}"></label>  <a style="text-decoration: underline;" th:if="${receiver}" th:href="@{/admin/users/update?id={id}(id=${transaction.receiver},type=${receiver.is_admin?1:0})}" th:text="${receiver != null ? (receiver.first_name+' '+receiver.last_name) : ''}"></a><br th:if="${receiver}"/><br/>
                                                <label>Amount: </label>  <span th:text="${((transaction.status==1)?'$ ':'')+#numbers.formatDecimal(transaction.amount, 0, 'COMMA', 6, 'POINT')+((transaction.status==0||transaction.status==2)?' VND':'')}"></span> <br/>
                                                <label  th:if="${receiver}">Received amount: </label>  <span  th:if="${receiver}" th:text="${((transaction.status==1)?'$ ':'')+#numbers.formatDecimal(transaction.amount, 0, 'COMMA', 6, 'POINT')+((transaction.status==0||transaction.status==2)?' VND':'')}"></span> <br  th:if="${receiver}"/>
                                                <label>Title:</label>  <span th:text="${transaction.title}"></span> <br/>
                                                <label>Note:</label>  <span th:text="${transaction.note}"></span> <br/>
                                                <!-- <label>Exchange rate:</label>  <span th:text="${transaction.exchange_rate}"></span> <br/>
                                                <label>From currency:</label>  <span th:text="${transaction.from_currency}"></span> <br/> -->
                                                <label>Address:</label>  <span th:text="${transaction.bcaddress}"></span> <br/>
                                                <label>Transaction time:</label>  <span th:text="${#temporals.format(transaction.created_at,'dd-MM-yyyy HH:mm:ss')}"></span> <br/>
                                                <label>Status:</label>  <span th:text="${transaction.status==1?'Success':(transaction.status==0?'Pending':'Fail')}" class="badge bg-success-transparent rounded-pill p-2 px-3" th:classappend="${transaction.status==1?'text-success':''}" style="font-size:13px"></span> <br/>
                                            
                                            </div>
                                            <div class="col-xl-6 mb-3 pl-3" style="display: table-row;padding-left:1.5vw"  th:if="transaction.type==2">
                                                <label>Account name:</label>      <span th:text="${transaction.account_name}"></span><br/>
                                                <label>Account number:</label>    <span th:text="${transaction.account_number}"></span><br/>
                                                <label>Bank:</label>  <span th:text="${transaction.bank}"></span> <br/>
                                                <label>Amount:</label>  <span th:text="${transaction.wAmount}"></span> <br/>
                                                <label>Notes:</label>  <span th:text="${transaction.wNotes}"></span> <br/>
                                               

                                           </div>

                                         </div>
                                     </div>
                                            
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                        <!-- ROW CLOSED -->
                    </div>
        
                 <!-- CONTAINER END -->
                 </div>
              </div>
            <!--app-content close-->
            
        </div>
            <div th:replace="layouts/admin :: sidebar-right"></div>
            <div th:replace="layouts/admin :: country-selector"></div>
            <footer th:replace="layouts/admin :: footer" ></footer>
    </div>
    

    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
    <svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;">
      <defs id="SvgjsDefs1002"></defs>
      <polyline id="SvgjsPolyline1003" points="0,0"></polyline>
      <path id="SvgjsPath1004" d="M0 0 "></path>
    </svg>
    

 <!-- JQUERY JS -->
  
  <noscript>
  
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  
  </noscript>
  
  <script src="/assets/js/jquery.min.js">
  </script>
  <script type="text/javascript">
  </script>
  
  <!-- BOOTSTRAP JS -->
  
  <noscript>
  
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  
  </noscript>
  <script src="/assets/plugins/bootstrap/js/popper.min.js">
  </script>
  
  <script type="text/javascript">
  
  
  </script>
  
  <noscript>
  
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  
  </noscript>
  
  <script src="/assets/plugins/bootstrap/js/bootstrap.min.js">
  </script>
  
  <script type="text/javascript">
  
  </script>
  
  <!-- SPARKLINE JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/js/jquery.sparkline.min.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- Sticky js -->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/js/sticky.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- CHART-CIRCLE JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script type="text/javascript">
  
  </script>
  <!-- PIETY CHART JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/peitychart/jquery.peity.min.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/peitychart/peitychart.init.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- SIDEBAR JS -->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/sidebar/sidebar.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- Perfect SCROLLBAR JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/p-scroll/perfect-scrollbar.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/p-scroll/pscroll.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/p-scroll/pscroll-1.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- INTERNAL CHARTJS CHART JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script type="text/javascript">
  
  </script>
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/chart/utils.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL SELECT2 JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/select2/select2.full.min.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL Data tables js-->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/datatable/js/jquery.dataTables.min.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/datatable/js/dataTables.bootstrap5.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/datatable/dataTables.responsive.min.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL APEXCHART JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/js/apexcharts.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/apexchart/irregular-data-series.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL Flot JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>

  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/flot/dashboard.sampledata.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL Vector js -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js">
    </script>
  <script type="text/javascript">
   
  </script>
   <!-- SIDE-MENU JS-->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/sidemenu/sidemenu.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- TypeHead js -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/bootstrap5-typehead/autocomplete.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/js/typehead.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL INDEX JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
 
  <script type="text/javascript">
  
  </script>
   <!-- Color Theme js -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/js/themeColors.js">
    </script>
  <script type="text/javascript">
    
  </script>
   <!-- CUSTOM JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/js/custom.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- Switcher js -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/switcher/js/switcher.js">
    </script>
    <svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;">
      <defs id="SvgjsDefs1002">
      </defs>
      <polyline id="SvgjsPolyline1003" points="0,0">
      </polyline>
      <path id="SvgjsPath1004" d="M0 0 ">
      </path>
      </svg>
   
  </div>
          <div class="jvectormap-tip">
            </div>
    
        </body>
        <grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
</body>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> -->

<script>
  
   
</script>