<htmllang="en" xmlns:th="http://www.thymeleaf.org"  >
<head th:replace="layouts/admin :: importLibs">
</head>
<body class="app sidebar-mini ltr transparent-mode bg-img1" data-new-gr-c-s-check-loaded="14.1071.0" data-gr-ext-installed="">
  <div class="horizontalMenucontainer">
    
    <div th:replace="layouts/admin :: switcher-wrapper"></div>
    <div th:replace="layouts/admin :: global-loader"></div>
    
    <div class="page">
        <div class="page-main is-expanded">
             <div th:replace="layouts/admin :: app-header"></div>
             <div th:replace="layouts/admin :: sticky"></div>
              <!--app-content open-->
              <div class="main-content app-content mt-0">

                <div class="side-app">
                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">
                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title" th:text="${formType==1?'Update':'Create'}"></h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="/admin/users/all?type=0">Users</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page" th:text="${formType==1?'Update':'Create'}"></li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->
                        <!-- ROW OPEN -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="card" style="padding-bottom: 25px;">
                                    <div class="card-header">
                                        <h3 class="card-title">Infomation</h3> </div>
                                    <div class="card-body">
                                       <form th:action="${userMapper.user_id!=null}?@{/admin/users/update?id={id}(id=${userMapper.user_id})}:@{/admin/users/create}" th:object="${userMapper}" method="post" enctype="multipart/form-data">
                                            <div style="position: relative;width: 25%;float:left ;margin-right: 1vw;">
                                                <div style="position: relative;display:table-row; height: 100%; min-height: 280px;width: 100%; background: none; float: left;padding:0 ">
                                                    <div id="viewer" style="border: 2px dashed rgba(255, 255, 255, 0.2) ;border-radius: 6px; min-height: 280px;height:inherit;padding-top:10px; text-align:center">
                                                        <div style="margin-bottom:10px" id="content" class="text-danger"></div>
                                                        <img id="imgViewer" style="border:none; width:90%;height:auto;margin-bottom:2vh;border-radius:5px;" th:src="(${formType}==0 OR ${userMapper.thumbnail}==null)?'/images/defaults/no-user.jpeg':'/images/users/'+${userMapper.thumbnail}" />
                                                    </div>
                                                    <input type="file" id="ip-thumbnail" name="pathImg"  th:src="${oldData != null}?${oldData.thumbnail}:''"  onchange="ReadImage(this)" class="main-post error_input" accept="image/bmp,image/gif,image/jpeg,image/png,image/tiff,image/webp" aria-hidden="true" tabindex="-1" style="cursor: pointer; opacity: 0;
                                                    position: absolute;height: 90%; width:100%; left: 0px; top: 0px; font-size: 0px;">
                                                </div>
                                                <div  style="width:100%;text-align:center;height: auto;float: left;margin-top:-12px;display:table-row;cursor: pointer;position: relative;">
                                                    <span id="trashimg" style="padding: 13px 18px; border: #b85656 2px solid; background-color: #e9474748; border-radius: 50%; font-size: 17px;" th:styleappend="${userMapper.thumbnail}==null?'display: none':''"><i style="color:white;pointer-events:none" class="fa fa-trash"></i></span>
                                                </div>
                                        </div>
                                            <div class="form-row">
                                              <div class="col-xl-6 mb-3" style="display: none;">
                                                <input type="text" class="form-control" name="user_id" th:value="${oldData != null}?${oldData.user_id}:${userMapper.user_id}" />
                                                <input type="text" class="form-control" name="user_profile_id" th:value="${oldData != null}?${oldData.user_profile_id}:${userMapper.user_profile_id}" />
                                                <input type="text" class="form-control" name="is_admin" th:value="${oldData != null}?${oldData.is_admin}:${userMapper.is_admin}" />
 
                                              </div>
                                                <div class="col-xl-6 mb-3">
                                                    <label for="first_name" >First name</label>
                                                    <input type="text" class="form-control" name="first_name" th:value="${oldData != null}?${oldData.first_name}:${userMapper.first_name}" >
                                                    <small th:class="text-danger" th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}" style="font-size:14px;padding:0 5px;border-radius: 5px"></small>
                                                   
                                                </div>
                                                <div class="col-xl-6 mb-3">
                                                    <label for="last_name">Last name</label>
                                                    <input type="text" class="form-control" name="last_name" th:value="${oldData != null}?${oldData.last_name}:${userMapper.last_name}" >                                                        
                                                    <small th:class="text-danger" th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}" style="font-size:14px;padding:0 5px;border-radius: 5px;"></small>

                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-xl-6 mb-3">
                                                    <label for="phone">Phone</label>
                                                    <input type="text" class="form-control" name="phone" th:value="${oldData != null}?${oldData.phone}:${userMapper.phone}" >
                                                    <small th:class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="font-size:14px;padding:0 5px;border-radius: 5px;"></small>

                                                </div>
                                                <div class="col-xl-6 mb-3"> 
                                                    <label for="email">Email</label>
                                                    <!-- is-invalid -->
                                                    <input type="text" class="form-control" name="email" th:value="${oldData != null}?${oldData.email}:${userMapper.email}" > 
                                                    <small th:class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="font-size:14px;padding:0 5px;border-radius: 5px;"></small>

                                                </div>
                                                <div class="col-xl-6 mb-3"> 
                                                  <label for="validationCustom04">Gender</label>
                                                  <select class="form-control select2"  name="gender" id="validationCustom04">
                                                    <option th:each="stt : ${genderList}" 
                                                            th:value="${stt.key}" 
                                                            th:selected="(${oldData!=null}?${oldData.gender}==${stt.key}:false) OR ${userMapper.gender}==${stt.key}"
                                                            th:text="${stt.value}" style="background-color:#8677d3;" ></option>
                                                  </select>
                                              </div>
                                              <div class="col-xl-6 mb-3"> 
                                                <label for="birth">Birth</label>
                                                <!-- is-invalid -->
                                                <input type="date" class="form-control" name="birth" id="birth" style="color: white;" th:value="${oldData != null}?${oldData.birth}:${userMapper.birth}" > 
                                                <small th:class="text-danger" th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}" style="font-size:14px;padding:0 5px;border-radius: 5px;"></small>

                                            </div>
                                                <div class="col-xl-4 mb-3" th:if="${formType}==0">
                                                    <label for="plain_password">Password</label>
                                                    <input type="password" class="form-control" name="plain_password" th:value="${oldData != null}?${oldData.plain_password}:${userMapper.plain_password}" >
                                                    <small th:class="text-danger" th:if="${#fields.hasErrors('plain_password')}" th:errors="*{plain_password}" style="font-size:14px;padding:0 5px;border-radius: 5px;"></small>

                                                </div>
                                                <div class="col-xl-4 mb-3" th:if="${formType}==0">
                                                    <label for="confirm_password">Confirm password</label>
                                                    <input type="password" class="form-control" name="confirm_password" th:value="${oldData != null}?${oldData.confirm_password}:${userMapper.confirm_password}" >
                                                    <small th:class="text-danger" th:if="${#fields.hasErrors('confirm_password')}" th:errors="*{confirm_password}" style="font-size:14px;padding:0 5px;border-radius: 5px;"></small>

                                                </div>

                                                <div class="col-xl-4 mb-3" th:if="(${session.user_id}==${userMapper.user_id}) OR ${formType==0}">
                                                    <label for="validationCustom04">Status</label>
                                                    <select class="form-control select2" name="status" id="validationCustom04">
                                                      <option th:each="stt : ${statusList}" 
                                                      th:value="${stt.key}" 
                                                      th:selected="(${oldData!=null}?${oldData.status}==${stt.key}:false) OR ${userMapper.status}==${stt.key}"
                                                      th:text="${stt.value}" style="background-color:#8677d3;" ></option> 
                                                    </select>
                                                </div>
                                              
                                            <button class="btn btn-primary" th:style="${formType==1}?'margin:4vh 0 auto 0;':''" type="submit">Save</button>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                        <!-- ROW CLOSED -->
                    </div>
        
                 <!-- CONTAINER END -->
                 </div>
              </div>
            <!--app-content close-->
            
        </div>
            <div th:replace="layouts/admin :: sidebar-right"></div>
            <div th:replace="layouts/admin :: country-selector"></div>
            <footer th:replace="layouts/admin :: footer" ></footer>
    </div>
    

    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
    <svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;">
      <defs id="SvgjsDefs1002"></defs>
      <polyline id="SvgjsPolyline1003" points="0,0"></polyline>
      <path id="SvgjsPath1004" d="M0 0 "></path>
    </svg>
    

 <!-- JQUERY JS -->
  
  <noscript>
  
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  
  </noscript>
  
  <script src="/assets/js/jquery.min.js">
  </script>
  <script type="text/javascript">
  </script>
  
  <!-- BOOTSTRAP JS -->
  
  <noscript>
  
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  
  </noscript>
  <script src="/assets/plugins/bootstrap/js/popper.min.js">
  </script>
  
  <script type="text/javascript">
  
  
  </script>
  
  <noscript>
  
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  
  </noscript>
  
  <script src="/assets/plugins/bootstrap/js/bootstrap.min.js">
  </script>
  
  <script type="text/javascript">
  
  </script>
  
  <!-- SPARKLINE JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/js/jquery.sparkline.min.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- Sticky js -->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/js/sticky.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- CHART-CIRCLE JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script type="text/javascript">
  
  </script>
  <!-- PIETY CHART JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/peitychart/jquery.peity.min.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/peitychart/peitychart.init.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- SIDEBAR JS -->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/sidebar/sidebar.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- Perfect SCROLLBAR JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/p-scroll/perfect-scrollbar.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/p-scroll/pscroll.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/p-scroll/pscroll-1.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- INTERNAL CHARTJS CHART JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script type="text/javascript">
  
  </script>
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/chart/utils.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL SELECT2 JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/select2/select2.full.min.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL Data tables js-->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/datatable/js/jquery.dataTables.min.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/datatable/js/dataTables.bootstrap5.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/datatable/dataTables.responsive.min.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL APEXCHART JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/js/apexcharts.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/apexchart/irregular-data-series.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL Flot JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>

  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/flot/dashboard.sampledata.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL Vector js -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js">
    </script>
  <script type="text/javascript">
   
  </script>
   <!-- SIDE-MENU JS-->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/sidemenu/sidemenu.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- TypeHead js -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/bootstrap5-typehead/autocomplete.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/js/typehead.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL INDEX JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
 
  <script type="text/javascript">
  
  </script>
   <!-- Color Theme js -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/js/themeColors.js">
    </script>
  <script type="text/javascript">
    
  </script>
   <!-- CUSTOM JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/js/custom.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- Switcher js -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/switcher/js/switcher.js">
    </script>
    <svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;">
      <defs id="SvgjsDefs1002">
      </defs>
      <polyline id="SvgjsPolyline1003" points="0,0">
      </polyline>
      <path id="SvgjsPath1004" d="M0 0 ">
      </path>
      </svg>
   
  </div>
          <div class="jvectormap-tip">
            </div>
    
        </body>
        <grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
</body>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> -->

<script>
     function ReadImage(input) {
                document.getElementById("trashimg").style.removeProperty("display");
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {

                        $('#imgViewer').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                 }
             }
             $("#trashimg").click(function () {
                    $("#imgViewer").attr("src", "/images/defaults/no-user.jpeg");
                    $("#ip-thumbnail").val("");
                    $(this).css("display","none")
            });
   
</script>