<htmllang="en" xmlns:th="http://www.thymeleaf.org"  >
<head th:replace="layouts/admin :: importLibs">
</head>
<body class="app sidebar-mini ltr transparent-mode bg-img1" data-new-gr-c-s-check-loaded="14.1071.0" data-gr-ext-installed="">
  <div class="horizontalMenucontainer">
    
    <div th:replace="layouts/admin :: switcher-wrapper"></div>
    <div th:replace="layouts/admin :: global-loader"></div>
    
    <div class="page">
        <div class="page-main is-expanded">
             <div th:replace="layouts/admin :: app-header"></div>
             <div th:replace="layouts/admin :: sticky"></div>
              <!--app-content open-->
              <div class="main-content app-content mt-0">

                <div class="side-app">
                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">
                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Edit Profile</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->
                        <!-- ROW-1 OPEN -->
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Edit Password</div>
                                    </div>
                                    <div class="card-body pt-5 pb-2" >
                                        <div class="text-center chat-image mb-5">
                                            <div class="avatar avatar-xxl chat-profile mb-3 brround" style="margin-left:0.7vw ;">
                                                <a class="" href="profile.html"><img alt="avatar" th:src="${session.thumbnail}==null?'/images/defaults/no-user.jpeg':${session.thumbnail}"  >
                                                </a>
                                            </div>
                                            <div class="main-chat-msg-name mt-5">
                                                <a href="profile.html">
                                                    <h5 class="mb-1 text-dark fw-semibold" th:text="${session.firstName+' '+session.lastName}"></h5> </a>
                                                <p class="text-muted mt-0 mb-0 pt-0 fs-13">Admin</p>
                                            </div>
                                        </div>
                                  <div class="alert" id="msgPassword" style="display: none;"></div>

                                        <div class="form-group mb-0">
                                          
                                            <label class="form-label">Current Password</label>
                                            <div class="wrap-input100 validate-input input-group mb-0"  id="Password-toggle">
                                                <span class="input-group-text bg-white text-muted togglePassword mb-0" style="cursor: pointer;"> <i class="zmdi zmdi-eye text-muted" aria-hidden="true"></i> </span>
                                                <input class="input100 form-control mb-0" type="password" placeholder="Current Password"  name="current_password" autocomplete="current-password"> </div>
                                                <small th:class="text-danger" id="current_password_err" style="font-size:14px;padding:0 5px;border-radius: 5px;"></small>
                                          
                                              </div>
                                        <div class="form-group mb-0"  style="margin-top: -1vh">
                                            <label class="form-label">New Password</label>
                                            <div class="wrap-input100 validate-input input-group mb-0" id="Password-toggle1">
                                                <span class="input-group-text bg-white text-muted togglePassword mb-0" style="cursor: pointer;"> <i class="zmdi zmdi-eye text-muted" aria-hidden="true"></i> </span>
                                                <input class="input100 form-control mb-0" type="password" placeholder="New Password"  name="new_password" autocomplete="new-password"> </div>
                                                <small th:class="text-danger" id="new_password_err" style="font-size:14px;padding:0 5px;border-radius: 5px;"></small>
                                          
                                              </div>
                                        <div class="form-group mb-0"  style="margin-top: -1vh">
                                            <label class="form-label">Confirm Password</label>
                                            <div class="wrap-input100 validate-input input-group mb-0" id="Password-toggle2">
                                                <span class="input-group-text bg-white text-muted togglePassword mb-0" style="cursor: pointer;"> <i class="zmdi zmdi-eye text-muted" aria-hidden="true"></i> </span>
                                                <input class="input100 form-control mb-0" type="password" placeholder="Confirm Password" name="confirm_password" autocomplete="new-password"> </div>
                                                <small th:class="text-danger" id="confirm_password_err" style="font-size:14px;padding:0 5px;border-radius: 5px;"></small>
                                          
                                              </div>
                                    </div>
                                    <div class="card-footer text-end"> <span id="save-password" class="btn btn-primary">Update</span></div>
                                </div>
                               
                            
                              </div>
                          <div class="col-xl-8"  >
                            
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Edit Profile</h3> </div>
                                    <div class="card-body">
                                  <div class="alert" id="msgInfo" style="display: none;"></div>

                                        <div class="row">
                                            <div class="col-lg-6 col-md-12">
                                                <div class="form-group mb-0">
                                                    <label for="exampleInputname">First Name</label>
                                                    <input type="text" class="form-control" id="exampleInputname" name="first_name" th:value="${userMapper.first_name}" placeholder="First Name"> </div>
                                                    <small th:class="text-danger" id="first_name_err" style="font-size:14px;padding:0 5px;border-radius: 5px;"></small>
                                          
                                                  </div>
                                            <div class="col-lg-6 col-md-12">
                                                <div class="form-group mb-0">
                                                    <label for="exampleInputname1">Last Name</label>
                                                    <input type="text" class="form-control" id="exampleInputname1" placeholder="Enter Last Name" name="last_name" th:value="${userMapper.last_name}"> </div>
                                                    <small th:class="text-danger" id="last_name_err" style="font-size:14px;padding:0 5px;border-radius: 5px;"></small>
                                            
                                                  </div>
                                        </div>
                                        <div class="form-group mb-0">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" name="email" th:value="${userMapper.email}" placeholder="Email address"> </div>
                                            <small th:class="text-danger" id="email_err" style="font-size:14px;padding:0 5px;border-radius: 5px;"></small>
                                        
                                        <div class="form-group mb-0">
                                            <label for="exampleInputnumber">Contact Number</label>
                                            <input type="number" disabled class="form-control" id="exampleInputnumber" placeholder="Contact number" name="phone" th:value="${userMapper.phone}"> </div>
                                            <div class="form-group mb-0"> 
                                              <label for="validationCustom04">Gender</label>
                                              <select class="form-control select2"  name="gender" id="genderSelect">
                                                <option th:each="stt : ${genderList}" 
                                                        th:value="${stt.key}" 
                                                        th:selected="(${oldData!=null}?${oldData.gender}==${stt.key}:false) OR ${userMapper.gender}==${stt.key}"
                                                        th:text="${stt.value}" style="background-color:#8677d3;" ></option>
                                              </select>
                                          </div>
                                          <div class="form-group mb-0"> 
                                            <label for="birth">Birth</label>
                                          
                                            <input type="date" class="form-control" name="birth" id="birth" style="color: white;" th:value="${userMapper.birth}" > 
                                            <small th:class="text-danger" id="birth_err" style="font-size:14px;padding:0 5px;border-radius: 5px;"></small>

                                        </div>
                                        <div class="col-xl-3 mt-3 p-0">
                                          Status:
                                              <span class="badge bg-success-transparent rounded-pill p-2 px-3" style="font-size:14px ;" th:classappend="${userMapper.status==1?'text-success':''}" th:text="${userMapper.status==1?'Activated':'Deactivated'}">
                                              </span> 
                                          
                                      </div>

                                    </div>
                                    <div class="card-footer text-end"> <span id="save-infomation" class="btn btn-success my-1">Save</span> </div>
                                </div>
                                
                              </div>
                        </div>
                        <!-- ROW-1 CLOSED -->
                    </div>
                    <!--CONTAINER CLOSED -->
                </div>
              </div>
            <!--app-content close-->
            
        </div>
            <div th:replace="layouts/admin :: sidebar-right"></div>
            <div th:replace="layouts/admin :: country-selector"></div>
            <footer th:replace="layouts/admin :: footer" ></footer>
    </div>
    

    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
    <svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;">
      <defs id="SvgjsDefs1002"></defs>
      <polyline id="SvgjsPolyline1003" points="0,0"></polyline>
      <path id="SvgjsPath1004" d="M0 0 "></path>
    </svg>
    

 <!-- JQUERY JS -->
  
  <noscript>
  
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  
  </noscript>
  
  <script src="/assets/js/jquery.min.js">
  </script>
  <script type="text/javascript">
  </script>
  
  <!-- BOOTSTRAP JS -->
  
  <noscript>
  
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  
  </noscript>
  <script src="/assets/plugins/bootstrap/js/popper.min.js">
  </script>
  
  <script type="text/javascript">
  
  
  </script>
  
  <noscript>
  
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  
  </noscript>
  
  <script src="/assets/plugins/bootstrap/js/bootstrap.min.js">
  </script>
  
  <script type="text/javascript">
  
  </script>
  
  <!-- SPARKLINE JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/js/jquery.sparkline.min.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- Sticky js -->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/js/sticky.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- CHART-CIRCLE JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script type="text/javascript">
  
  </script>
  <!-- PIETY CHART JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/peitychart/jquery.peity.min.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/peitychart/peitychart.init.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- SIDEBAR JS -->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/sidebar/sidebar.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- Perfect SCROLLBAR JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/p-scroll/perfect-scrollbar.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/p-scroll/pscroll.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script src="/assets/plugins/p-scroll/pscroll-1.js">
  </script>
  <script type="text/javascript">
  
  </script>
  <!-- INTERNAL CHARTJS CHART JS-->
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  <script type="text/javascript">
  
  </script>
  <noscript>
  <p>
  To display this page you need a browser that supports JavaScript.</p>
  </noscript>
  
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/chart/utils.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL SELECT2 JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/select2/select2.full.min.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL Data tables js-->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/datatable/js/jquery.dataTables.min.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/datatable/js/dataTables.bootstrap5.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/datatable/dataTables.responsive.min.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL APEXCHART JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/js/apexcharts.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/apexchart/irregular-data-series.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL Flot JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>

  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/flot/dashboard.sampledata.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL Vector js -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js">
    </script>
  <script type="text/javascript">
   
  </script>
   <!-- SIDE-MENU JS-->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/sidemenu/sidemenu.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- TypeHead js -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/plugins/bootstrap5-typehead/autocomplete.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/js/typehead.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- INTERNAL INDEX JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
 
  <script type="text/javascript">
  
  </script>
   <!-- Color Theme js -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/js/themeColors.js">
    </script>
  <script type="text/javascript">
    
  </script>
   <!-- CUSTOM JS -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/js/custom.js">
    </script>
  <script type="text/javascript">
  
  </script>
   <!-- Switcher js -->
   <noscript>
    <p>
    To display this page you need a browser that supports JavaScript.</p>
    </noscript>
  <script src="/assets/switcher/js/switcher.js">
    </script>
    <svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;">
      <defs id="SvgjsDefs1002">
      </defs>
      <polyline id="SvgjsPolyline1003" points="0,0">
      </polyline>
      <path id="SvgjsPath1004" d="M0 0 ">
      </path>
      </svg>
   
  </div>
          <div class="jvectormap-tip">
            </div>
    
        </body>
        <grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
</body>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> -->

<script>
  $('#save-infomation').on('click', () => {
    let data = {
        "first_name": $('input[name="first_name"]').val(),
        "last_name": $('input[name="last_name"]').val(),
        "email": $('input[name="email"]').val(),
        "birth": $('input[name="birth"]').val().replace("T",""),
        "gender":$('#genderSelect').val()
    }
    $.ajax({
        url: '/admin/users/my-profile/update-infomation',
        type: 'post',
        data: JSON.stringify(data),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        success: function(response){
          console.log(response)
            $('#first_name_err').text("")
            $('#last_name_err').text("")
            $('#email_err').text("")
            $('#birth_err').text("")
            if(response.code==400){
              $('#birth_err').text(response.birth)
              $("#msgInfo").addClass('alert-warning');
              $("#msgInfo").html('Please check the input data !');
            }else{
              $("#msgInfo").addClass('alert-success');
              $("#msgInfo").html('Saved successfully !');
            }
        },
        error: function(data){
            console.log(data)
            data.responseJSON.errors.forEach(err => {
                $(`#${err.field}_err`).text(err.defaultMessage ?? "")
                $("#msgInfo").addClass('alert-warning');
                $("#msgInfo").html('Please check the input data !');
            })
        }
    })
    $("#msgInfo").removeClass("alert-warning");
    $("#msgInfo").removeClass("alert-success");
    $("#msgInfo").html('');
    $("#msgInfo").css("display", "block");
    $("#msgInfo").delay(4000).fadeOut(300);
})
$('#save-password').on('click', () => {
    let data = {
        "current_password": $('input[name="current_password"]').val(),
        "confirm_password": $('input[name="confirm_password"]').val(),
        "new_password": $('input[name="new_password"]').val()
    }
    $.ajax({
        url: '/admin/users/my-profile/update-password',
        type: 'post',
        data: JSON.stringify(data),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        success: function(response){
        
          
          $(`#current_password_err`).text(response.current ?? "")
          $(`#new_password_err`).text(response.newPass ?? "")
          $(`#confirm_password_err`).text(response.confirm ?? "")
          
          if(response.code==null){
            $("#msgPassword").addClass('alert-success');
            $("#msgPassword").html('Saved successfully !');
            $('input[name="current_password"]').val("");
            $('input[name="confirm_password"]').val("");
            $('input[name="new_password"]').val("")

          }else{
           
            $("#msgPassword").addClass('alert-warning');
            $("#msgPassword").html('Please check the input data !');
          }
         
        },
        error: function(data){
           
        }
    })
    $("#msgPassword").removeClass("alert-warning");
    $("#msgPassword").removeClass("alert-success");
    $("#msgPassword").html('');
    $("#msgPassword").css("display", "block");
    $("#msgPassword").delay(4000).fadeOut(300);
})
  $(".togglePassword").click(function(){
    if($(this).find("i").hasClass('zmdi-eye')){
        $(this).find("i").removeClass('zmdi-eye');
        $(this).find("i").addClass('zmdi-eye-off');
    }
    else{
        $(this).find("i").removeClass('zmdi-eye-off');
        $(this).find("i").addClass('zmdi-eye');
    }
   $(this).parent().find("input").attr('type')=="password"?$(this).parent().find("input").attr('type',"text"):$(this).parent().find("input").attr('type',"password")
  })
</script>