<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  <main class="tab-pane fade" id="history" role="tabpanel">
    <div class="main-box">
      <div class="header-area">
        <h4>Transaction History</h4>
      </div>
      <div class="table-responsive" style="max-height: 200px;overflow: scroll scroll;">
        <table class="table table-borderless text-white-50">
          <thead>
            <th>#</th>
            <th>No.</th>
            <th>Type</th>
            <th>Method</th>
            <th>Amount</th>
            <th>Date created</th>
            <th>Status</th>
            <th>Address</th>
            <th>Receiver</th>
          </thead>
          <tbody id="table-transaction-history">
            
          </tbody>
        </table>
      </div>
    </div>
  </main>
</body>

</html>
