<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <main class="tab-pane fade show active" id="about-tab" role="tabpanel">
      <div class="main-box">
        <div class="d-flex header-area justify-content-between mb-5">
          <h4 class="mb-0">About</h4>
        </div>
        <!-- alert -->
        <form action="" method="" id="about-form" th:object="${userProfileMapper}">
          <div class="d-flex justify-content-between">
            <div class="align-items-center d-flex flex-column" style="width: 27%">
              <div style="position: relative;">
                <img th:src="*{thumbnail!=''}?*{thumbnail}:'/images/defaults/no-user.jpeg'" width="150" height="150" style="border-radius: 50%;" id="img-avatar"/>
                <input type="file" id="upload-avatar" hidden/>
                <label for="upload-avatar" class="align-items-center d-flex justify-content-center"
                        style="background-color: #54068f;color: #fff;position: absolute;right: 10px;bottom: 0;border-radius: 50%;cursor: pointer;width: 30px;height: 30px;">
                  <i class="fa-solid fa-camera"></i>
                </label>
              </div>
              <input type="hidden" th:field="*{id}" disabled/>
              <input type="hidden" th:field="*{user_id}" disabled/>
              <p class="mt-4 user-name" style="font-size: 20px; color: #fff; font-weight: 600" th:text="${session.firstName+' '+session.lastName}"></p>
            </div>
            <div style="width: 70%">
              <div class="d-flex justify-content-between mb-3">
                <div class="form-group">
                  <label>First name</label>
                  <input type="text" class="profile-input" placeholder="First name" th:field="*{first_name}"/>
                  <small class="text-danger" style="margin-left: 20px" id="first_name_err"></small>
                </div>
                <div class="form-group">
                  <label>Last name</label>
                  <input type="text" class="profile-input" placeholder="Last name" th:field="*{last_name}"/>
                  <small class="text-danger" style="margin-left: 20px" id="last_name_err"></small>
                </div>
              </div>
              <div class="d-flex justify-content-between mb-3">
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" class="profile-input" placeholder="Phone" th:field="*{phone}" disabled/>
                  <small class="text-danger" style="margin-left: 20px"></small>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="profile-input" placeholder="Email" th:field="*{email}"/>
                  <small class="text-danger" style="margin-left: 20px" id="email_err"></small>
                </div>
              </div>
              <div class="d-flex justify-content-between mb-3">
                <div class="form-group">
                  <label>Birth</label>
                  <div class="sd-container">
                    <input type="date" class="profile-input" placeholder="Birth" th:field="*{birth}"/>
                    <span class="open-button">
                      <button class="btn-sm" type="button"><i class="fa-solid fa-calendar" style="color: #fff;"></i></button>
                    </span>
                  </div>
                  <small class="text-danger" style="margin-left: 20px"></small>
                </div>
                <div class="form-group">
                  <label>Gender</label>
                  <div class="d-flex justify-content-between align-items-center" style="padding: 12px 0;">
                    <th:block th:if="${genders != null}" th:each="gd: ${genders}">
                      <input type="radio" th:value="${gd.key}" th:id="${gd.value}" th:name="gender" th:checked="${gd.key} == *{gender}"/>
                      <label th:for="${gd.key}" th:text="${gd.value}" class="mb-0 text-capitalize"></label>
                    </th:block>
                    <th:block th:if="${genders == null}">
                      <input type="radio" value="0" name="gender" id="male">
                      <label for="male" class="mb-0">Male</label>
                      <input type="radio" value="1" name="gender" id="female">
                      <label for="female" class="mb-0">Female</label>
                      <input type="radio" value="2" name="gender" id="other">
                      <label for="other" class="mb-0">Other</label>
                    </th:block>
                  </div>
                </div>
              </div>
      
              <div class="d-flex justify-content-end mb-3 mt-5">
                <div class="d-flex justify-content-between" style="width: 45%;">
                  <button type="button" class="btn text-white" style="background-color: #fa009f;border-radius: 50px;padding: 12px;width: 47%;" id="btn-profile-save">Save</button>
                  <button type="submit" class="btn text-white" style="background-color: #54068f;border-radius: 50px;padding: 12px;width: 47%;">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <th:block id="staticJS">
        
      </th:block>
    </main>
  </body>
</html>
