<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <main class="tab-pane fade" id="settings-tab" role="tabpanel">
      <div class="main-box">
        <div class="d-flex header-area justify-content-between mb-4">
          <h4 class="mb-0">Settings</h4>
        </div>
        <div class="d-flex flex-column justify-content-between" id="setting-area">
          <div class="mb-3">
            <div class="custom-switch d-flex">
              <input type="checkbox" class="custom-control-input" id="withdraw-password-switch">
              <label class="custom-control-label" for="withdraw-password-switch">Require fill in current password whenever performing withdraw action?</label>
            </div>
          </div>
          <div class="mb-3">
            <div class="custom-switch d-flex">
              <input type="checkbox" class="custom-control-input" id="transfer-password-switch">
              <label class="custom-control-label" for="transfer-password-switch">Require fill in current password whenever performing transfer action?</label>
            </div>
          </div>
          <div class="mb-3">
            <div class="custom-switch d-flex">
              <input type="checkbox" class="custom-control-input" id="setting-password-switch">
              <label class="custom-control-label" for="setting-password-switch">Require fill in current password whenever updating setting?</label>
            </div>
          </div>

          <div class="d-flex justify-content-end mb-3 mt-5">
            <div class="d-flex justify-content-between" style="width: 45%;">
              <button type="button" class="btn text-white" style="background-color: #fa009f;border-radius: 50px;padding: 12px;width: 47%;" id="btn-settings-save">Save</button>
              <button type="submit" class="btn text-white" style="background-color: #54068f;border-radius: 50px;padding: 12px;width: 47%;">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
