<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="usermenu-section" th:fragment="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="usermenu-inner">
                        <div class="left-area">
                            <ul>
                                <li>
                                    <a th:href="@{/user/my-account/information}" class="left-area-item item-1">Overview</a>
                                </li>
                                <li>
                                    <a th:href="@{/user/my-account/friend}" class="left-area-item item-2">Friends</a>
                                </li>
                                <li>
                                    <a th:href="@{/user/my-account/statistic}" class="left-area-item item-3">statistics</a>
                                </li>
                                <li>
                                    <a th:href="@{/user/my-account/play-history}" class="left-area-item item-4">play history</a>
                                </li>
                                <li>
                                    <a th:href="@{/user/my-account/achievement}" class="left-area-item item-5">achievement</a>
                                </li>
                                <li>
                                    <a th:href="@{/user/my-wallet}" class="left-area-item item-6">wallets</a>
                                </li>
                            </ul>
                        </div>
                        <div class="right-area">
                            <a href="#" class="mybtn2">Follow</a>
                            <a href="#" class="mybtn2">Invite to Team</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
