<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="~{layouts/main-layout :: main-fragment( ~{::title},
                                                    ~{:: #static-css},
                                                    ~{::header},
                                                    ~{:: #slider},
                                                    ~{:: #main-content},  
                                                    ~{::footer},
                                                    ~{::staticJS}
                                                )}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="preloader hide" id="preloader">
		<div class="loader loader-1">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>
		</div>
	</div>
    <header class="header" th:replace="~{/fragments/header :: header}"></header>
    <div id="main-content">
        <section class="breadcrumb-area gamer-profile" th:replace="~{/fragments/profile/breadcrumb :: section}"></section>
        <section class="gamer-profile-top" th:replace="~{/fragments/profile/profile_top :: section}"></section>
        <section class="usermenu-section" th:replace="~{/fragments/profile/usermenu :: section}"></section>
        <section class="user-main-dashboard">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="achievment-area big">
							<div class="header-area">
								<h4>Achievements</h4>
								<a href="#">All Rewards <i class="fas fa-chevron-right"></i></a>
							</div>
							<ul>
								<li>
									<div class="s-a">
										<img th:src="@{/images/defaults/a1.png}" alt="">
										<span>Tournaments <br>
											Joined</span>
									</div>
								</li>
								<li>
									<div class="s-a">
										<img th:src="@{/images/defaults/a2.png}" alt="">
										<span>Sets of <br>
											Missions</span>
									</div>
								</li>
								<li>
									<div class="s-a">
										<img th:src="@{/images/defaults/a3.png}" alt="">
										<span>Game <br>
											plays</span>
									</div>
								</li>
								<li>
									<div class="s-a">
										<img th:src="@{/images/defaults/a4.png}" alt="">
										<span>Active <br>
											Days</span>
									</div>
								</li>
								<li>
									<div class="s-a">
										<img th:src="@{/images/defaults/a5.png}" alt="">
										<span>Tournaments <br>
											Won</span>
									</div>
								</li>
								<li>
									<div class="s-a">
										<img th:src="@{/images/defaults/a6.png}" alt="">
										<span>Friends <br>
											Referred</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
        <div class="subscribe-area subscribe-area2" th:replace="~{/fragments/profile/subscribe_area :: section}"></div>
    </div>
    <footer class="footer" id="footer" th:replace="~{/fragments/footer :: footer}"></footer>
    <th:block id="static-js">

    </th:block>
</body>
</html>