<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="~{layouts/main-layout :: main-fragment( ~{::title},
                                                    ~{:: #static-css},
                                                    ~{::header},
                                                    ~{:: #slider},
                                                    ~{:: #main-content},  
                                                    ~{::footer},
                                                    ~{::staticJS}
                                                )}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="preloader hide" id="preloader">
		<div class="loader loader-1">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>
		</div>
	</div>
    <header class="header" th:replace="~{/fragments/header :: header}"></header>
    <div id="main-content">
        <section class="breadcrumb-area gamer-profile" th:replace="~{/fragments/profile/breadcrumb :: section}"></section>
        <section class="gamer-profile-top" th:replace="~{/fragments/profile/profile_top :: section}"></section>
        <section class="usermenu-section" th:replace="~{/fragments/profile/usermenu :: section}"></section>
        <section class="user-main-dashboard">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="u-d-friends">
							<div class="left">
								<h4>Friends</h4>
							</div>
							<div class="right">
								<div class="search-area">
									<form action="#">
										<input type="text" placeholder="Search">
										<button type="submit"><i class="fas fa-search"></i></button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="single-friend">
							<div class="left">
								<div class="profile-photo">
									<div class="img">
										<img th:src="@{/images/defaults/no-user.jpeg}" alt="">
									</div>
									<div class="mybadge">
										<img th:src="@{/images/defaults/badge2.png}" alt="">
										<span>12</span>
									</div>
								</div>
							</div>
							<div class="right">
								<div class="content">
									<h5>Jan Moody</h5>
									<p>Member Since <span></span></p>
								</div>
								<!-- <div class="button-area">
									<a href="#" class="mybtn2">Add Friends</a>
								</div> -->
							</div>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-lg-12 text-center">
						<a href="#" class="mybtn2">View More</a>
					</div>
				</div>
			</div>
		</section>
        <div class="subscribe-area subscribe-area2" th:replace="~{/fragments/profile/subscribe_area :: section}"></div>
    </div>
    <footer class="footer" id="footer" th:replace="~{/fragments/footer :: footer}"></footer>
    <th:block id="static-js">

    </th:block>
</body>